@charset "UTF-8";



h3 {
  font-size: 24px;
  width: fit-content;
  line-height: 1;
  margin: 0 auto;
  color: #7F5539;
}


/* ＝＝＝＝＝パンくず＝＝＝＝＝ */
.top .account2, .top .breadcrumb {
  font-size: 12px;
  color: #7F5539;
  position: relative;
  padding-left: 104px;
  line-height: 2;
  border-bottom: 1px solid #7F5539;
}


/* ＝＝＝＝＝ベストセラー領域＝＝＝＝＝ */

.mainMenuSec, .varietyMenuSec{
  padding: 100px 0 120px;
  margin: 0 auto;
}

.prodList {
  display: grid;
  width: fit-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 120px 60px;
  margin: 0 auto;
  margin-top: 120px;
}

.prodList li {
  display: flex;
  gap: 20px;
  width: 320px;
  min-height: 532px;
  flex-direction: column;
}
.prodList li p {
  font-size: 24px;
  line-height: 1;
}

.prodList li .lankNum {
  display: flex;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.prodList li .lankNum1 {
  background-color: #FFD233;
}
.prodList li .lankNum2 {
  background-color: #D9D9D9;
}
.prodList li .lankNum3 {
  background-color: #D27C2C;
}
.prodList li .lankNum4,
.prodList li .lankNum5,
.prodList li .lankNum6 {
  background-color: #E8C2CA;
}

.prodList li a {
  width: fit-content;
  height: fit-content;
}
.prodList li img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  object-position: center; 
}
.prodList li .prodInfo p {
  width: 100%;
  height: fit-content;
  line-height: 1.6;
  color: #7F5539;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.prodList li .prodPrice {
  width: fit-content;
  color: #BF0000;
}

.prodList li .toCart {
  font-size: 20px;
  width: fit-content;
  margin: 0 auto;
}
.prodList li .toCart .cartBtn {
  color: #fff;
  background-color: #7F5539;
  padding: 16px 60px ;
  text-align: center;
}
